---
git_clone_address: https://github.com/IATI/preview-website.git

git_clone_branch: master

user_home_dir: /home/{{ custom_user }}/

repo_dir: preview-site/

django_dir: "{{ user_home_dir }}{{repo_dir}}{{ app_name }}/"

requirements_path: "{{ django_dir }}"

virtualenv_path: "{{ user_home_dir }}{{ repo_dir }}pyenv"

db_password: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          62366664366264313764646339356466646433626130303531343438663234323165636433363633
          3766303361366535636332633230386263356233353133620a636333666534623662353131346534
          65633431386334313466336530323961633030303264336430346630393838613630383330633763
          3933356433636436340a666563616537666330613437646231353936393032666330383365363762
          30643630356633336666613764643533646338376531303836313534396663323663626435373363
          36666631323937653638646664326564343236376335336336653933353662653334633633333833
          396436656434313062336239396536373064

apache2_ip: '*'

apache2_port: 80

apache2_documentroot: /var/www/html/

apache2_directories:
  - alias_source: /static
    alias_destination: /home/iati-website/preview-site/iati/staticfiles
    root: /home/iati-website/preview-site/iati/staticfiles
  - alias_source: /media
    alias_destination: /home/iati-website/preview-site/iati/media
    root: /home/iati-website/preview-site/iati/media
  - root: /home/iati-website/preview-site/iati/iati
    file_location: wsgi.py
  - root: /home/iati-website/preview-site/iati/iati/templates/
    file_location: 500-static.html
    alias_source: /500
    alias_destination: /home/iati-website/preview-site/iati/iati/templates/500-static.html
  - root: /home/iati-website/preview-site/iati/iati/templates/
    file_location: 404-static.html
    alias_source: /404
    alias_destination: /home/iati-website/preview-site/iati/iati/templates/404-static.html

apache2_errordocs:
  - error_code: 403
    error_template: /404
  - error_code: 404
    error_template: /404
  - error_code: 500
    error_template: /500

apache2_extras:
  - line: WSGIDaemonProcess iati python-path=/home/iati-website/preview-site/iati python-home=/home/iati-website/preview-site/pyenv
  - line: WSGIProcessGroup iati
  - line: WSGIScriptAlias / /home/iati-website/preview-site/iati/iati/wsgi.py

backup_directory: "uncompressed_backup/"

backup_temporary_location: "/tmp/"

backup_encryption_key: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          37373463383330383064613032656139343830383936376365383937313861353334333962633538
          3534356337623465353161363134653261613239396330610a326632346664386161333135663031
          37666634303066653937336136613033343330633066646230373766386138376366306536653234
          3432656432336366320a316631376164323134663134646463616634303030383465626536346431
          37623931626239613136333137376434383561303431363130646363353230656263613563646230
          38323930356631663963386537333437383361613263393763663164383666363964306261613435
          396339653461363035386539616635643830

backup_minute: 0

backup_hour: 0

backup_weekday: "*"

s3_access_key: "AKIAJATM4SRKP3GHHCOQ"

s3_secret_key: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          38353462616266353161653039376435376462336235323133633737656262353234623561363431
          6137396162376538356632663137386439643665653630320a613637633936393630633263393533
          39393664333035636164346432646239386235643439313730373531303837356131303061626561
          3337663638373532620a363536396632613632613961626665363664323065353032366432326536
          63356237393563653138376133376363633866663464306533376164366264633162396563373336
          6136626136326134336638363837643138316234636539643939

s3_bucket_name: "iatibucket"

s3_bucket_host: "s3.amazonaws.com"

s3_bucket_region: "ca-central-1"

update_minute: 0

update_hour: 0

update_weekday: "*"
