# Setup endpoint
host_base = "{{ s3_bucket_host }}"
host_bucket = "{{ s3_bucket_host }}"
bucket_location = "{{ s3_bucket_region }}"
use_https = True

# Setup access keys
access_key =  "{{ s3_access_key }}"
secret_key = "{{ s3_secret_key }}"

# Enable S3 v4 signature APIs
signature_v2 = False
