# Dump the postgres database
pg_dump {{ custom_database_name }} > {{ backup_directory }}backup.sql

# Compress the backup directory with gzip
tar -czf {{ backup_temporary_location }}backup.tar.gzip {{ backup_directory }}
