#!/bin/bash
# Change directory to temporary backup
cd {{ backup_temporary_location }}

# Remove the original media folder
rm -rf {{ django_dir }}media

# Move the media folder from the backup directory back to it's proper place
cp -r {{ backup_directory }}media {{ django_dir }}

# Let www-data group re-own the media folder recursively
chown -R www-data:www-data {{ django_dir }}media